body{
    background: url(../Images/background.png) center/cover no-repeat fixed;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

.fade-in {
    animation: fadeIN 1s ease-in forwards;
}

@keyframes fadeIN {
    0% {
        opacity: 0; transform: translateY(20px);
    }
    100% {
        opacity: 1; transform: translateY(0);
    }
}

#wmessage{
    margin: auto;
    margin-top: 95px;
    text-align: center;
    width: 70%;
    background-color: rgb(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

#welcome {
    font-size: 80px;
    margin: 10px 0px;
}

#message {
    font-size: 30px;
    font-weight: bold;
}

#choice {
    font-size: 40px;
    text-align: center;
}

#roles {
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: auto;
}

.erole{
    background-color: #d2f8b0;
    height: 150px;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.erole:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    background: #c6f19e;
}

.icon {
    font-size: 40px;
    display: block;
}

#hadmin, #hmanager, #cashier {
    margin-top: 0px;
}

.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}